* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 4fr;
}

.header {
  grid-row: 1;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-content: center;
}

.icon {
  height: 100%;
  width: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.icon.search {
  background-image: url(magnify.svg);
}

.icon.bell {
  background-image: url(bell-ring-outline.svg);
}

.profile {
  width: 50px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  justify-self: center;
  background-image: url(profile-picture-icon-27.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  background-size: 40%;
  border-radius: 50%;
}

#searchbar {
  border: none;
  border-radius: 200px;
  background-color: rgb(225, 231, 235);
  height: 2rem;
  flex-grow: 1;
  align-self: center;
  padding-left: 10px;
  margin-right: 5%;
}

.name {
  padding: 0 30px;
  margin-right: 5%;
  height: fit-content;
  font-size: 1.3rem;
  font-weight: bold;
  align-self: center;
}

.nav {
  grid-row: 2;
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 6fr 1.5fr 1.5fr 1.5fr;
  gap: 10px;
  box-shadow: 3px 3px 3px lightgrey;
}

.profile.large {
  grid-row: 1 / 3;
  height: 80px;
  width: 80px;
}

.greeting {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  font-weight: bold;
}

.user {
  grid-row: 2;
  grid-column: 2;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav button {
  grid-row: 1 / 3;
  border: none;
  border-radius: 90px;
  background-color: rgb(74, 156, 243);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  height: 45%;
  width: 80%;
  align-self: center;
  justify-self: center;
}

.sidebar {
  grid-row: 1 / 5;
  grid-column: 1;
}

.projects {
  grid-row: 3 / 5;
  grid-column: 2;
}

.announcements {
  grid-row: 3;
  grid-column: 3;
}

.trending {
  grid-row: 4;
  grid-column: 3;
}