* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.75fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 4fr;
}

.header {
  grid-row: 1;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-content: center;
}

.icon {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.icon.search {
  background-image: url(magnify.svg);
}

.icon.bell {
  background-image: url(bell-ring-outline.svg);
}

.profile {
  width: 50px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  justify-self: center;
  background-image: url(profile-picture-icon-27.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  background-size: 40%;
  border-radius: 50%;
}

#searchbar {
  border: none;
  border-radius: 200px;
  background-color: rgb(225, 231, 235);
  height: 2rem;
  flex-grow: 1;
  align-self: center;
  padding-left: 10px;
  margin-right: 5%;
}

.name {
  padding: 0 30px;
  margin-right: 5%;
  height: fit-content;
  font-size: 1.3rem;
  font-weight: bold;
  align-self: center;
}

.nav {
  grid-row: 2;
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 6fr 1.5fr 1.5fr 1.5fr;
  gap: 10px;
  box-shadow: 0 3px 3px rgb(193, 193, 193);
  position: relative;
  z-index: 2;
}

.profile.large {
  grid-row: 1 / 3;
  height: 80px;
  width: 80px;
}

.greeting {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  font-weight: bold;
}

.user {
  grid-row: 2;
  grid-column: 2;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav button {
  grid-row: 1 / 3;
  border: none;
  border-radius: 90px;
  background-color: rgb(74, 156, 243);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  height: 45%;
  width: 80%;
  align-self: center;
  justify-self: center;
}

.sidebar {
  grid-row: 1 / 5;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  background-color: rgb(74, 156, 243);
  box-shadow: 3px 0 5px rgba(217, 227, 230, 0.747);
}

.title {
  width: 75%;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  align-self: center;
  justify-self: end;
}

.list {
  width: 75%;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
  justify-self: end;
}

.projects {
  grid-row: 3 / 5;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 20fr;
  background-color: rgb(225, 231, 235);
}

.projects-title {
  grid-row: 1;
  align-self: end;
  margin: 30px 0 0 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.card-container {
  grid-row: 2;
  display: grid;
  gap: 20px;
  padding: 10px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: auto;
}

.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 0.2fr 3fr 1fr 1fr 1fr;
  border-radius: 10px;
  background-color: white;
  padding-right: 5px;
  box-shadow: 2px 5px 5px rgb(198, 198, 198);
}

.card-style {
  grid-column: 1;
  grid-row: 1 / 4;
  background-color: rgb(251, 197, 63);
  border-radius: 10px 0 0 10px;
}

.card-title {
  grid-row: 1;
  grid-column: 2 / 6;
  font-size: 1.1rem;
  font-weight: bold;
  align-self: end;
  padding-left: 15px;
}

.card-summary {
  grid-row: 2;
  grid-column: 2 / 6;
  padding-left: 15px;
}

.favorite, .add, .share {
  width: 30px;
  height: 30px;
  background: url() no-repeat center;
  align-self: center;
  justify-self: center;
}

.favorite {
  grid-row: 3;
  grid-column: 3;
  background-image: url(star-plus-outline.svg);
}

.add {
  grid-row: 3;
  grid-column: 4;
  background-image: url(eye-plus-outline.svg);
}

.share {
  grid-row: 3;
  grid-column: 5;
  background-image: url(share-variant-outline.svg);
}

.announcements {
  grid-row: 3;
  grid-column: 3;
  background-color: rgb(225, 231, 235);
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.announcement-title {
  align-self: end;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 13px;
}

.announcement-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  margin-right: 30px;
  box-shadow: 2px 5px 5px rgb(198, 198, 198);
  display: grid;
}

.announcement-card > * > :first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

hr {
  height: 0;
  background-color:rgba(207, 208, 209, 0.7);
  border-color: rgba(207, 208, 209, 0);
  margin: 15px 0;
}

.trending {
  grid-row: 4;
  grid-column: 3;
}